@keyframes fadeLift {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideTextIn {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeYearIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}