$font-primary: "Libre Baskerville", serif;

$white: #ffffff;
$black: #000000;
$gray-700: #7d7d7d;
$gray-200: #e6e6e6;

$bg: $white;

$slideshow-btn: $gray-700;
$slideshow-btn-hover: $black;
$separator: $gray-200;

$gallery-text: $white;
$gradient-start: #00000000;
$gradient-end: #000000d6;

$fs-xs: 10px;
$fs-sm: 12px;
$fs-base: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-1-5xl: 22px;
$fs-2xl: 24px;
$fs-3xl: 30px;

$break-sm: 702px;
$break-md: 768px;
$break-mdplus: 844px;
$break-xl: 1200px;
$break-xxl: 1440px;