$font-primary: "Libre Baskerville", serif;

$white: #ffffff;
$black: #000000;
$gray: #7d7d7d;
$light-gray: #e6e6e6;

$font10: 10px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;

$break-sm: 640px;
$break-md: 768px;
$break-mdplus: 844px;
$break-lg: 1050px;
$break-xl: 1200px;
$break-xxl: 1440px;