@use "../../../styles/index" as *;

.layout {
  perspective: 1500px;
}

.content {
  padding: 30px 0;

  @include sm {
    padding: 40px 0;
  }

  @include xl {
    padding: 60px 0;
    display: flex;
    align-items: center;
  }
}

.fadeLiftAnimation {
  animation: fadeLift 0.8s ease both;
}

.artwork {
  position: relative;

  @include sm {
    display: flex;
    align-items: center;
  }
}

.images {
  opacity: 1;
}

.heroLarge {
  display: none;

  @include sm {
    display: unset;
    width: 410px;
  }

  @include xl {
    width: 475px;
    margin: 0;
  }
}

.heroSmall {
  display: block;
  width: 100%;

  @include sm {
    display: none;
  }
}

.btn {
  position: absolute;
  top: 16px;
  left: 16px;

  @include sm {
    top: unset;
    bottom: 16px;
  }
}

.viewBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 152px;
  height: 40px;
  background: $black;
  color: $white;
  font-size: $fs-xs;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  opacity: 0.75;
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background: $white;
  width: 320px;
  max-width: 80%;
  padding: 24px;
  margin-top: -54px;
  box-shadow: -1px 0 0 $white;
  transform: translateY(20px);
  animation: slideTextIn 0.8s ease forwards;

  @include sm {
    position: absolute;
    justify-content: flex-start;
    width: 445px;
    height: 270px;
    top: 39px;
    right: 0;
    padding-left: 50px;
  }

  @include mdplus {
    left: 350px;
  }

  @include xl {
    top: -1px;
    left: 400px;
  }
}

.artName {
  color: $black;
  font-size: $fs-1-5xl;
  font-weight: 700;
  line-height: 29px;
  text-align: left;

  @include sm {
    font-size: $fs-4xl;
    line-height: 64px;
    width: 80%;
  }

  @include xl {
    font-size: $fs-5xl;
    width: 90%;
  }
}

.artistName {
  color: $gray-700;
  font-size: $fs-base;
  font-weight: 400;
  line-height: 19px;

  @include xxl {
    font-size: $fs-md;
  }
}

.artistImg {
  width: 64px;
  margin-left: 16px;

  @include sm {
    width: 128px;
    margin: 145px 0 0 30px;
  }

  @include xl {
    margin-top: auto;
  }

  @include xxl {
    margin-bottom: -60px;
  }
}

.details {
  @include xl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto 100px 0 auto;
  }

  @include xxl {
    gap: 81px;
    margin-top: auto;
  }
}

.info {
  position: relative;

  @include sm {
    margin-top: 64px;
  }

  @include xl {
    margin: 0 auto 0 0;
  }
}

.description {
  color: $gray-700;
  font-size: $fs-base;
  font-weight: 700;
  line-height: 28px;
  padding: 40px 0;

  @include sm {
    padding: 75px 110px 0 124px;
  }

  @include xl {
    width: 350px;
    padding: 0;
    margin: 0;
  }
}

.year {
  position: absolute;
  top: -50px;
  right: 0;
  z-index: -1;
  color: $gray-100;
  font-size: $fs-hero;
  font-weight: 600;
  line-height: 100px;
  text-align: right;
  transform: translateY(10px);
  animation: fadeYearIn 1s ease forwards;
  opacity: 0;

  @include sm {
    top: 0;
    left: 0;
    font-size: $fs-hero-xl;
    line-height: 150px;
  }

  @include xl {
    top: 70px;
  }

  @include xxl {
    top: -95px;
  }
}

.source {
  color: $gray-700;
  font-size: $fs-xs;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 11px;
  text-decoration: underline;

  &:hover {
    color: $black;
  }

  @include sm {
    padding-left: 124px;
  }

  @include xl {
    padding: 0;
  }
}